@media (min-width: 1900px) {
	.container { width: 1600px; }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	margin-bottom: 50px; /* Keeps the footer out of the way */
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

#mainSiteFooter{ width: 50%; text-align: center;}

.greenButton { background-color: #0A3; border: 1px solid #092; border-radius: 3px; color: #FFF; }
.greenButton:focus, .greenButton:hover { background-color: #0C3; }

.blueButton { background-color: #049; border: 1px solid #016; border-radius: 3px; color: #FFF; }
.blueButton:focus, .blueButton:hover { background-color: #05A; }

.redButton { background-color: #A33; border: 1px solid #611; border-radius: 3px; color: #FFF; }
.redButton:focus, .redButton:hover { background-color: #F33; }

.offscreen { position: absolute; left: -99999px; }