
@{
	ViewBag.Title = "Data Managment Home";
}

<h2>Data Managment</h2>

<p>Manage Supporting Data</p>
<ul>
	<li><a href="@Url.Content( "~/data/ManageCCA" )" target="datamgmt" >Manage CCA Data</a></li>

	<li><a href="@Url.Content( "~/data/ManageConceptSchemes" )"target="datamgmt" >Manage Concept Data</a></li>

	<li><a href="@Url.Content( "~/data/ManageCourses" )"target="datamgmt" >Manage Course Data</a></li>

</ul>

