
@{
	ViewBag.Title = "ManageCourses";
}

<h2>Manage Courses</h2>

<p>TBD</p>
<ul>
	<li>Search for Courses)</li>
	<li>Update Courses</li>
	<li>Add new Courses</li>
	<li>Add/Update Training Tasks</li>
	<li>Delete a Training Task (only if not referenced)</li>
	<li>Delete a Course (only if the related tasks are not referenced)</li>
</ul>