
@{
	ViewBag.Title = "ManageConceptSchemes";
}

<h2>Manage Concept Schemes</h2>
<p>TBD</p>
<ul>
	<li>Search for Concept Schemes (vocabulary)</li>
	<li>Update Concepts</li>
	<li>Add new Concepts</li>
	<li>Set a Concept Inactive/Active</li>
	<li>Delete a Concept (only if not referenced)</li>
</ul>
