
@{
    ViewBag.Title = "Upload V2";
	var allRatings = Factories.RatingManager.GetAll();
}

<script type="text/javascript">
	var UI = {};
	var Data = {};

	$(document).ready(function () {
		setupUI();
	});
	//

	function setupUI() {
		UI.RatingSelector = $(".ratingSelector");
		UI.FileInput = $(".mainFileUpload");
		UI.ProcessButton = $(".processButton");
		UI.StatusBox = $(".status");
		UI.SummaryBox = $(".uploadSummary");

		UI.ProcessButton.on("click", function () {
			processFile();
		});
	}
	//

	function processFile() {
		var file = UI.FileInput[0].files[0];
		if (!file) {
			setStatus("Please select a file.");
			alert("Please seelct a file.");
		}
		else {
			setStatus("Reading File...");
			var reader = new FileReader();
			reader.onload = function () {
				setStatus("Processing File...");
				parseCSV(reader.result);

				setStatus("Mapping Data...");
				mapCSVJSON();

				setStatus("Sending Data...");
				submitData();
			};
			reader.onerror = function () {
				setStatus("Error reading file: " + reader.error);
			}
			reader.readAsText(file);
		}
	}
	//

	function parseCSV(rawText) {
		//Normalize the text
		Data.RawCSV = rawText.replace(/\r\n/g, "\n").replace(/""/g, "<INSERTQUOTE>");
		var rows = [];
		var currentRow = [];
		var currentCell = [];
		var isInQuotes = false;

		//Process each character
		Data.RawCSV.split("").forEach(function (character) {
			if (character == '"') {
				isInQuotes = !isInQuotes;
			}
			else if (isInQuotes) {
				currentCell.push(character);
			}
			else if (character == ",") {
				currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
				currentCell = [];
			}
			else if (character == "\n") {
				currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
				currentCell = [];
				rows.push(currentRow);
				currentRow = [];
			}
			else {
				currentCell.push(character);
			}
		});

		//Don't forget stragglers at the end
		currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
		rows.push(currentRow);

		//Set data
		rows.shift(); //Discard first row, since it is not a true header row
		Data.CSVColumns = rows.shift();
		Data.CSVRows = rows;

		//Create flat JSON
		Data.CSVJSON = [];
		Data.CSVRows.forEach(function (row) {
			var temp = {};
			Data.CSVColumns.forEach(function (column, index) {
				temp[column] = row[index];
			});
			Data.CSVJSON.push(temp);
		});

		console.log("CSV Processed", Data);
	}
	//

	function mapCSVJSON() {
		Data.MappedTable = {
			Rows: Data.CSVJSON.map(row => {
				return {
					Rating_CodedNotation: row[ "Rating" ],
					PayGradeType_Notation: row[ "Rank" ],
					BilletTitle_Name: row[ "Billet Title" ],
					WorkRole_Name: row[ "Functional Area" ],
					ReferenceResource_Name: row[ "Source" ],
					ReferenceResource_PublicationDate: row[ "Date of Source" ],
					Shared_ReferenceType: row[ "Work Element Type" ],
					RatingTask_Description: row[ "Work Element (Task)" ],
					RatingTask_ApplicabilityType_Label: row[ "Task Applicability" ],
					RatingTask_TrainingGapType_Label: row[ "Formal Training Gap" ],
					Course_CodedNotation: row[ "CIN" ],
					Course_Name: row[ "Course Name" ],
					Course_CourseType_Label: row[ "Course Type (A/C/G/F/T)" ],
					Course_HasReferenceResource_Name: row["Life-Cycle Control Document"],
					Course_CurriculumControlAuthority_Name: row["Curriculum Control Authority (CCA)"],
					TrainingTask_Description: row[ "CTTL/PPP/TCCD Statement" ],
					Course_AssessmentMethodType_Label: row[ "Current Assessment Approach" ],
					Note: row[ "Notes" ]
				}
			})
		};
	}
	//

	function submitData() {
		var data = {
			rawData: Data.MappedTable,
			ratingRowID: UI.RatingSelector.val()
		};

		if (!data.ratingRowID) {
			setStatus("Please select a Rating.");
			alert("Please select a Rating.");
			return;
		}

		setStatus("Sending data, check console for details");
		console.log("Submitting data", data);
		fetch("@Url.Content("~/upload/processupload")", {
			method: "POST",
			headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
			body: JSON.stringify(data)
		}).then((response) => {
			setStatus("Received Response, check console for details");
			console.log("Received response", response);
			return response.text()
		}).then((text) => {
			console.log("Received text", text);
			Data.Response = JSON.parse(text);
			console.log("Parsed Data", Data.Response);
			renderResults();
		});
	}
	//

	function renderResults() {
		UI.SummaryBox.html("");
		renderTextSet("Errors", Data.Response.Data.Errors, UI.SummaryBox, "changeNote");
		renderTextSet("Change Notes", Data.Response.Data.ChangeNote, UI.SummaryBox, "error");

	}
	//

	function renderTextSet(header, items, container, cssClass) {
		if (items?.length > 0) {
			container.append("<h3>" + header + "</h3>");
			var list = $("<ul></ul>").appendTo(container);
			items.forEach((item) => {
				list.append("<li class=\"" + cssClass + "\">" + item + "</li>");
			});
		}
	}
	//

	function setStatus(text) {
		UI.StatusBox.html(text);
	}
	//
</script>
<style type="text/css">
	.uploadHeader { }
	.uploadHeader .uploadItem { display: block; max-width: none; }
	.uploadHeader .ratingSelector { display: block; width: 100%; height: 30px; margin-bottom: 5px; cursor: pointer; }
	.uploadHeader .uploadBox { display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 5px; }
	.uploadHeader .uploadBox .mainFileUpload { flex: 33% 1 1; padding: 4px 5px; cursor: pointer; background-color: #EEE; }
	.uploadHeader .uploadBox .mainFileUpload:hover, .uploadHeader .uploadBox .mainFileUpload:focus { background-color: #DDD; }
	.uploadHeader .uploadBox .processButton { flex: 200px 0 0; height: 30px; }
	.uploadHeader .status { padding: 4px 5px; }
</style>

<h2>Upload RMTL Data</h2>

<div class="uploadHeader">
	<select class="uploadItem ratingSelector">
		<option value="" disabled="disabled" selected="selected">Select a Rating...</option>
		@foreach( var rating in allRatings )
		{
			<option value="@rating.RowId.ToString()">@rating.CodedNotation - @rating.Name</option>
		}
	</select>
	<div class="uploadBox">
		<input class="uploadItem mainFileUpload" type="file" />
		<button class="uploadItem processButton" data-action="process">Process</button>
	</div>
	<div class="uploadItem status"></div>
</div>
<div class="uploadSummary"></div>