
@{
	ViewBag.Title = "RMTL Home Page ";
}

<h2>RMTL Home Page</h2>

<p>TBD</p>
<ul>
	@*<li><a href="@Url.Content( "~/rmtl/catalog" )">RMTL Catalog</a></li>*@
	<li>RMTL Projects Search</li>
	<li>Add RMTL Project</li>

</ul>
