<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>

		<add key="environment" value="production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="production"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="usingSSL" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="doingEmailConfirmation" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="emailService" value="mailgun" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
		<add key="SendEmailService" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpHost" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- sendEmailFlag - use true to enable sending email -->
		<add key="sendEmailFlag" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- if true, will send email to an admin id, overriding an actual email address -->
		<add key="usingTempOverrideEmail" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- May want a 'to' email specific for the contact US!! -->
		<add key="contactUsMailTo" value="mparsons+navy@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="contactUsMailFrom" value="NavyDoNotReply@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="mparsons+navy@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="systemNotifyFromEmail" value="NavyAdmin@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="logAllEmail" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\navy\sandbox\[date]_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\navy\sandbox\[date]_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\navy\sandbox\[date]_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.log.file" value="C:\@logs\navy\sandbox\files\[date]_[filename].json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.botTrace.log" value="C:\@logs\navy\sandbox\[date]_botTrace.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	</appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	  <customErrors mode="RemoteOnly" xdt:Transform="Replace">
		  <error statusCode="404" redirect="~/Home/PageNotFound" />
		  <error statusCode="500" redirect="~/Home/PageNotFound" />
	  </customErrors>

	  <sessionState mode="SQLServer"
		  sqlConnectionString="data source=10.0.0.5;user id=ASPSessionAdmin;password=_Cr$Sess|{}Master;"
		  sqlCommandTimeout="45"
		  cookieless="false"
		  regenerateExpiredSessionId="false"
		  timeout="360"
		  xdt:Transform="Replace"/>
  </system.web>
</configuration>
