<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

  <appSettings>
	<add key="BuildVersion" value="2023-03-21" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="500000" />
    <add key="applicationURL" value="https://localhost:44309/" />
    <add key="environment" value="development" />
    <add key="usingSSL" value="true" />
    <add key="serverName" value="development" />
	  <add key="usingNewApplicationRoles" value="true" />
	<!-- Roles. Develop meaningful names not tied to specific roles -->
	<add key="Admin_SiteManager_SiteStaff" value="Administrator, Site Manager, Site Staff" />
	<add key="rmtlDevelopPlus" value="Administrator, Site Manager, RMTL Developer" />
    <add key="defaultPageOnLogin" value="~/search" />
	<add key="securityBannerPhrase" value="CUI//SP-CTI" />
	  <add key="defaultRole" value="Site Reader" />
    <!-- global password -->
    <add key="adminKey" value="19-16-93-FC-DB-DE-A7-89-03-BC-ED-85-DE-90-17-C3" />
    <add key="usingProcessV2" value="true" />
    <add key="includingProcessV1ToCompare" value="false" />
    <add key="listingInputRecords" value="true" />
	  <!-- temp-->
	  <add key="handlingMultipleTrainingTasksPerRatingTask" value="true" />
	  <add key="ratingTaskUsingCodedNotationForLookups" value="true" />
	  <add key="doingRatingTaskDuplicateChecks" value="false" />
	  <add key="treatingRatingTaskDuplicateAsError" value="false" />
	  <add key="includingBilletTitleInDuplicatesChecks" value="true" />
	  <add key="includingWorkRoleInDuplicatesChecks" value="true" />
	  <add key="matchingTasksAcrossAllRMTLSpreadsheets" value="true" />
	  
    <!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
    <!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
    <add key="notifyOnEmailNotFound" value="true" />
    <add key="notifyOnEmailNotConfirmed" value="true" />
    <add key="doingEmailConfirmation" value="true" />
    <add key="forgotPasswordExiryDays" value="1" />
	  
    <!-- EmailService: smtp, serviceApi, sendGrid, mailgun, or blank if no email service -->
    <add key="emailService" value="mailgun" />
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="" />
    <add key="SmtpHost" value="localhost" />
    <add key="MailgunSendingDomainName" value="credentialengine.org" />
    <add key="MailgunSecretAPIKey" value="key-45e93a30c66c301a0f048cfde95809be" />
    <add key="MailgunPublicAPIKey" value="pubkey-140ce65087d1a6c61fa60749c3a87e82" />
    <!-- sendEmailFlag - set to false to disable all emails -->
    <add key="sendEmailFlag" value="true" />
    <!-- set to true to send all emails to an internal address - usually in development env. -->
    <add key="usingTempOverrideEmail" value="true" />

    <add key="allowingCachingEmailTemplates" value="false" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="mparsons@credentialengine.org" />
    <!--<add key="contactUsMailFrom" value="DoNotReply@credentialengine.org" />-->
    <add key="contactUsMailFrom" value="NavyDoNotReplyTest@credentialengine.org" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@credentialengine.org" />
	  <!-- systemNotifyFromEmail – Email address to use when sending emails. It doesn’t have to exist – basically a Do Not Reply email address -->
    <add key="systemNotifyFromEmail" value="NavyDevEnv@credentialengine.org" />
	  <!-- logAllEmail - if true, all emails will be written to the path specified by "path.email.log". Set to no to skip saving-->
    <add key="logAllEmail" value="yes" />
	  

    <!-- LOG SETTINGS ========================================================================
    Notes:
    - Be sure to give write access to the everyone role for the following log file
    -->

    <!-- logErrors : if yes, then any exceptions will be written to the file specified by ="path.error.log . Set to no to not save exceptions. --> 
    <add key="logErrors" value="yes" />
	<!--if notifyOnException is yes, an email will be sent to the systemAdminEmail email if an exception is encountered -->
	<add key="notifyOnException" value="no" />
	<!-- appTraceLevel is to control trace messages written to the path.trace.log file. Only messages with a trace level less than or equal to the current value will be stored in the log. 	Set to 0 to NOT store trace messages  -->	  
    <add key="appTraceLevel" value="6" />
    <add key="botTraceLevel" value="6" />
    <add key="path.error.log" value="C:\@logs\Navy\[date]_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\Navy\[date]_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\Navy\[date]_TraceLog.txt" />
    <add key="path.botTrace.log" value="C:\@logs\Navy\[date]_botTraceLog.txt" />
	<!-- path.log.file sets a path and default format of the file for storing the uploaded RMTL files. This was useful for an admin to be able to check the input file for issues/questions.  -->	  
    <add key="path.log.file" value="C:\@logs\Navy\[date]_[filename].txt" />
  </appSettings>
    <connectionStrings>

		<!-- NEW -->
		<add name="DefaultConnection" connectionString="Server=(local);database=Navy_RRL_V2;User Id=navyAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

		<add name="navy_RO" connectionString="Server=(local);database=Navy_RRL_V2;User Id=navyReader;password=navyDev2@19!;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

		<add name="NavyRRLEntities" connectionString="metadata=res://*/Tables.NavyRRLTables.csdl|res://*/Tables.NavyRRLTables.ssdl|res://*/Tables.NavyRRLTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Navy_RRL_V2;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="ceNavyViewEntities" connectionString="metadata=res://*/Views.NavyViews.csdl|res://*/Views.NavyViews.ssdl|res://*/Views.NavyViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Navy_RRL_V2;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
        <!-- OLD 
	    <add name="DefaultConnection" connectionString="Server=(local);database=NavyRRL;User Id=navyAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

	    <add name="navy_RO" connectionString="Server=(local);database=NavyRRL;User Id=navyReader;password=navyDev2@19!;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

	    <add name="NavyRRLEntities" connectionString="metadata=res://*/Tables.NavyRRLTables.csdl|res://*/Tables.NavyRRLTables.ssdl|res://*/Tables.NavyRRLTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	    <add name="ceNavyViewEntities" connectionString="metadata=res://*/Views.NavyViews.csdl|res://*/Views.NavyViews.ssdl|res://*/Views.NavyViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    </connectionStrings>
	
    <system.web>
    <authentication mode="None" />
	  <compilation debug="true" targetFramework="4.8">
		  <assemblies>
			  <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
		  </assemblies>
	  </compilation>
	  <httpRuntime targetFramework="4.8" maxRequestLength="51200" /><!-- Max request length in kilobytes (50MB) -->
	  <customErrors mode="Off" >
		  <error statusCode="404" redirect="~/Home/PageNotFound" />
		  <error statusCode="500" redirect="~/Home/PageNotFound" />
	  </customErrors>
  </system.web>
  <system.webServer>
    <modules>
        <remove name="FormsAuthentication" />
    </modules>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="52428800" /><!-- Max request length in bytes (50MB) -->
		  </requestFiltering>
	  </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>