<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>

		<add key="environment" value="sandbox"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="sandbox"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="applicationURL" value="https://sandbox.credentialengine.org/NavyRRL/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="usingSSL" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	
		<add key="doingEmailConfirmation" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="emailService" value="mailgun" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
		<add key="SendEmailService" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SmtpHost" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- sendEmailFlag - use true to enable sending email -->
		<add key="sendEmailFlag" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- if true, will send email to an admin id, overriding an actual email address -->
		<add key="usingTempOverrideEmail" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- May want a 'to' email specific for the contact US!! -->
		<add key="contactUsMailTo" value="mparsons+navy@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="contactUsMailFrom" value="NavySandboxDoNotReply@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="mparsons+navy@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="systemNotifyFromEmail" value="NavyAdminSandbox@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="logAllEmail" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\navy\sandbox\[date]_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\navy\sandbox\[date]_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\navy\sandbox\[date]_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.log.file" value="C:\@logs\navy\sandbox\files\[date]_[filename].json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.botTrace.log" value="C:\@logs\navy\sandbox\[date]_botTrace.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	</appSettings>
	<connectionStrings>
		<!-- add userId and password for user with update access to the database-->
		<add name="DefaultConnection" connectionString="Server=credEngine2;database=NavyRRL;User Id=navyAdmin;password=Xqm7vJVGs%$g;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


		<add name="navy_RO" connectionString="Server=credEngine2;database=NavyRRL;User Id=navyReader;password=wjSUnH3A%6V6;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
				xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="NavyRRLEntities" connectionString="metadata=res://*/Tables.NavyRRLTables.csdl|res://*/Tables.NavyRRLTables.ssdl|res://*/Tables.NavyRRLTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=Xqm7vJVGs%$g;MultipleActiveResultSets=True;App=EntityFramework&quot;"
				 providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="ceNavyViewEntities" connectionString="metadata=res://*/Views.NavyViews.csdl|res://*/Views.NavyViews.ssdl|res://*/Views.NavyViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=Xqm7vJVGs%$g;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	  <customErrors mode="RemoteOnly" xdt:Transform="Replace">
		  <error statusCode="404" redirect="~/Home/PageNotFound" />
		  <error statusCode="500" redirect="~/Home/PageNotFound" />
	  </customErrors>

	  <sessionState mode="SQLServer"
		  sqlConnectionString="data source=10.0.0.5;user id=ASPSessionAdmin;password=_Cr$Sess|{}Master;"
		  sqlCommandTimeout="45"
		  cookieless="false"
		  regenerateExpiredSessionId="false"
		  timeout="360"
		  xdt:Transform="Replace"/>
  </system.web>

</configuration>