
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul >
    <li><a href="@Url.Content( "~/Admin/Activity" )">Activity Log</a></li>

    <li><a href="@Url.Content( "~/Admin/Accounts" )">User Management</a></li>
    @*<li><a href="@Url.Content( "~/Admin/User/ResetPassword" )">Reset User Password</a></li>*@
    <li><a href="@Url.Content( "~/Account/AddUser" )">Add Account</a></li>
</ul>
