@using Models.Schema;
@using Newtonsoft.Json;
@using Models.DTO;
@model WorkRole
@{
	var title = Model.Id > 0 ? "Editing Functional Area" : "New Functional Area";
	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="Text" data-property="Name" data-label="Name"></div>
<div class="field" data-fieldtype="SaveButton"></div>
