<script type="text/javascript">
	var Searches = [];
	var ResourceCache = [];
	//

	function createSearch (searchType, searchURL, statusBox, spinner, resultsBox, pagingBox, pageSize, delay) {
		var Search = {
			SearchType: searchType,
			SearchURL: searchURL,
			PageSize: pageSize || 20,
			PageNumber: 1,
			Delay: delay || 800,
			StatusBox: statusBox || $("<div></div>"),
			ResultsBox: resultsBox || $("<div></div>"),
			PagingBox: pagingBox || $("<div></div>"),
			Spinner: spinner || $("<div></div>"),
			Timeout: 0,
			Query: {},
			Results: [],
			TotalResults: 0,
			TotalPages: 1,
			PagingButtonThreshold: 5
		};
		//

		Search.delayThenSearch = function (resetPaging) {
			clearTimeout(Search.Timeout);
			Search.Timeout = setTimeout(() => {
				Search.doSearch(resetPaging);
			}, Search.Delay);
		};
		//

		Search.doSearch = function (resetPaging) {
			Search.PageNumber = resetPaging ? 1 : Search.PageNumber;
			Search.Query = {
				SearchType: Search.SearchType,
				Filters: Search.getFilters(),
				PageSize: Search.PageSize,
				PageNumber: Search.PageNumber,
				SortOrder: Search.getSortOrder()
			};
			Search.customizeQuery();
			Search.setStatus("Searching...", true);
			Search.doPOSTRequest(Search.SearchURL, Search.Query, Search.handleResponse);
		};
		//

		Search.getFilters = function () {
			//Intended for use/overriding by other code
		};
		//

		Search.getSortOrder = function () {
			//Intended for use/overriding by other code
		};
		//

		Search.customizeQuery = function () {
			//Intended for use/overriding by other code
		};
		//

		Search.afterRenderAll = function () {
			//Intended for use/overriding by other code
		};
		//

		Search.renderTotalResultsStatus = function () {
			Search.setStatus("Found " + Search.TotalResults + " Results"); //Can be overridden with a custom status message
		}
		//

		Search.getAndRenderReferenceList = function (urls, renderMethod) {
			urls?.forEach(url => {
				Search.getResource(url, renderMethod, error => {
					console.log("Error loading resource: " + url, error);
				});
			});
		}
		//

		Search.getResource = function (url, handleSuccess, handleError) {
			//If the Resource was already queued or loaded, just process it (force asynchronous handling to ensure all of them work the same way)
			var Resource = ResourceCache.find(item => item.URL == url);
			if (Resource && Resource.Data) {
				setTimeout(() => { handleSuccess?.(Resource.Data); }, 0);
			}
			else if (Resource && Resource.Error) {
				setTimeout(() => { handleError?.(Resource.Error); }, 0);
			}
			else if (Resource) {
				Resource.SuccessHandlers.push(handleSuccess);
				Resource.ErrorHandlers.push(handleError);
			}
			//Otherwise, fetch the resource
			else {
				var Resource = { URL: url, SuccessHandlers: [handleSuccess], ErrorHandlers: [handleError] };
				ResourceCache.push(Resource);
				Search.doGETRequest(url, (response) => {
					Resource.Data = response.Data;
					processHandlers(Resource);
				}, (error) => {
					Resource.Error = error;
					processHandlers(Resource);
				});
			}

			//Helper function
			function processHandlers(Resource) {
				if (Resource.Data) {
					Resource.SuccessHandlers.forEach(handler => {
						handler?.(Resource.Data);
					});
				}
				else if (Resource.Error) {
					Resource.ErrorHandlers.forEach(handler => {
						handler?.(Resource.Error);
					});
				}
				Resource.SuccessHandlers = [];
				Resource.ErrorHandlers = [];
			}
		}
		//

		Search.doGETRequest = function (url, handleSuccess, handleError) {
			Search.doAJAX(url, handleSuccess, handleError);
		}
		//

		Search.doPOSTRequest = function (url, data, handleSuccess, handleError) {
			Search.doAJAX(url, handleSuccess, handleError, {
				method: "POST",
				headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
				body: JSON.stringify(data)
			});
		};
		//

		Search.doAJAX = function (url, handleSuccess, handleError, params) {
			fetch(url, params)
				.then(response => {
					if (response.ok) {
						return response.text();
					}
					else {
						throw response;
					}
				})
				.then(text => {
					var response = JSON.parse(text);
					handleSuccess?.(response);
				})
				.catch(error => {
					handleError?.(error);
				});
		};
		//

		Search.handleResponse = function (response) {
			if (response.Valid) {
				Search.Results = response.Data.Results;
				Search.TotalResults = response.Data.TotalResults || 0;
				//Search.setStatus("Found " + Search.TotalResults + " Results");
				Search.renderTotalResultsStatus();
				Search.renderResults();
				Search.renderPaging();
				Search.afterRenderAll();
			}
			else {
				Search.setStatus("Error: " + response.Status.join(", "));
			}
		};
		//

		Search.renderResults = function () {
			Search.ResultsBox.html("");
			Search.Results.forEach(Result => {
				Search.renderResult(Result, Search.ResultsBox);
			});
		}
		//

		Search.renderResult = function (Result, container) {
			container.append("<div class=\"searchResult\">" + (Result.CodedNotation || Result.Name || Result.Description) + "</div>");
		}
		//

		Search.renderPaging = function () {
			Search.PagingBox.html("");
			Search.TotalPages = Math.ceil(Search.TotalResults / Search.PageSize);
			Search.pagingRenderer();
		}
		//

		Search.renderSelectPaging = function () {
			var select = $("<select></select>").appendTo(Search.PagingBox);
			for (var i = 1; i <= Search.TotalPages; i++) {
				select.append("<option value=\"" + i + "\">Page " + i + "</option>");
			}
			select.on("change", function () {
				Search.PageNumber = parseInt(select.val());
				Search.doSearch();
			});
			select.val(Search.PageNumber);
		}
		//

		Search.renderButtonPaging = function () {
			for (var i = 1; i <= Search.TotalPages; i++) {
				if (i == 1 || i == Search.TotalPages || ((i - Search.PagingButtonThreshold) <= Search.PageNumber && Search.PageNumber <= (i + Search.PagingButtonThreshold))) {
					createPagingButton(i);
				}
			}

			function createPagingButton(page) {
				var button = $("<button class=\"pagingButton " + (Search.PageNumber == i ? "currentPage" : "") + "\" " + (Search.PageNumber == i ? "disabled=\"disabled\"" : "") + ">" + i + "</button>").appendTo(Search.PagingBox);
				button.on("click", function () {
					Search.PageNumber = page;
					Search.doSearch();
				});
			}
		}
		//

		Search.setStatus = function (message, showSpinner) {
			Search.StatusBox.html(message);
			showSpinner ? Search.Spinner.show() : Search.Spinner.hide();
		}
		//

		//Initialize and track
		Search.pagingRenderer = Search.renderButtonPaging;
		Search.Spinner.hide();
		Searches.push(Search);

		//Return
		return Search;
	}
	//

</script>
<style type="text/css">
	.spinner { display: inline-block; box-shadow: inset 4px 0 0 5px; border-radius: 50%; height: 20px; width: 20px; animation: spin 1s linear infinite; }
	@@keyframes spin { 100% { transform: rotate(360deg); } }

	.pagingButton { min-width: 50px; }
</style>