<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="environment" value="development" />
    <!-- EmailService: smtp, serviceApi, sendGrid, mailgun, or blank if no email service -->
	  <add key="emailService" value="smtp" />
	  <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
	  <add key="SendEmailService" value="" />
	  <add key="SmtpHost" value="smtp.freesmtpservers.com" />
    <add key="MailgunSendingDomainName" value="credentialengine.org" />
    <add key="MailgunSecretAPIKey" value="key-45e93a30c66c301a0f048cfde95809be" />
    <add key="MailgunPublicAPIKey" value="pubkey-140ce65087d1a6c61fa60749c3a87e82" />
    <!-- sendEmailFlag - set to false to disable all emails -->
    <add key="sendEmailFlag" value="true" />
    <!-- set to true to send all emails to an internal address - usually in development env. -->
    <add key="usingTempOverrideEmail" value="true" />
    <add key="allowingCachingEmailTemplates" value="false" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="nargo@credentialengine.org" />
    <!--<add key="contactUsMailFrom" value="DoNotReply@credentialengine.org" />-->
    <add key="contactUsMailFrom" value="DoNotReplyTest@credentialengine.org" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="nargo@credentialengine.org" />
    <add key="systemNotifyFromEmail" value="navyDevEnv@credentialengine.org" />
    <add key="logAllEmail" value="yes" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="appTraceLevel" value="6" />
    <add key="botTraceLevel" value="6" />
    <add key="path.error.log" value="C:\@logs\Navy\[date]_testing_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\Navy\[date]_testing_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\Navy\[date]_testing_TraceLog.txt" />
    <add key="path.log.file" value="C:\@logs\Navy\[date]_[filename].txt" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-NavyRRL-20211201102142.mdf;Initial Catalog=aspnet-NavyRRL-20211201102142;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Server=(local);database=NavyRRL;User Id=navyAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="navy_RO" connectionString="Server=(local);database=NavyRRL;User Id=navyReader;password=navyDev2@19!;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="NavyRRLEntities" connectionString="metadata=res://*/Tables.NavyRRLTables.csdl|res://*/Tables.NavyRRLTables.ssdl|res://*/Tables.NavyRRLTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ceNavyViewEntities" connectionString="metadata=res://*/Views.NavyViews.csdl|res://*/Views.NavyViews.ssdl|res://*/Views.NavyViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NavyRRL;persist security info=True;user id=navyAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>