@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@model Concept
@{
	var title = Model.Id > 0 ? "Editing Concept" : "New Concept";
	if( Model.Id == 0 )
	{
		Model.IsActive = true;
		var testGUID = Guid.Empty;
		Guid.TryParse( Request.Params[ "InScheme" ], out testGUID );
		Model.InScheme = testGUID;
	}

	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model, new JObject() {
	{ "InSchemeOptions", JArray.FromObject( Factories.ConceptSchemeManager.GetAll().OrderBy( m => m.Name ).Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) }
} ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="Select" data-property="InScheme" data-label="Belongs to Concept Scheme" data-sourceuri="InSchemeOptions"></div>
<div class="field" data-fieldtype="Text" data-property="Name" data-label="Name"></div>
<div class="field" data-fieldtype="Text" data-property="CodedNotation" data-label="Code"></div>
<div class="field" data-fieldtype="TextArea" data-property="Description" data-label="Description"></div>
<div class="field" data-fieldtype="Text" data-property="WorkElementType" data-label="Work Element Type" data-helptext="Applies only to concepts used in the RMTL Spreadsheet's Work Element Type column. Enter the exact value for that column here."></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="BroadMatch" data-label="Broad Match" data-searchtype="@nameof(Concept)" data-helptext="Concept that can be considered a parent of this Concept"></div>
<div class="field" data-fieldtype="Boolean" data-property="IsActive" data-label="Enabled"></div>
<div class="field" data-fieldtype="SaveButton"></div>
