@using Models.Schema;
@model Organization
@{
	ViewBag.Title = "Organization (CCA): " + Model.Name;
}

<h2>@Model.Name</h2>

<p>@Model.Description</p>
<p><a href="@Url.Content("~/" + Model.GetType().Name.ToLower() + "/edit/" + Model.Id)" target="_blank">Edit</a></p>