@using Models.Schema;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Models.DTO;
@model Organization
@{
	var title = Model.Id > 0 ? "Editing Organization" : "New Organization";
	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="Text" data-property="Name" data-label="Name"></div>
<div class="field" data-fieldtype="Text" data-property="AlternateName" data-label="Alternate Name"></div>
@*<div class="field" data-fieldtype="TextArea" data-property="Description" data-label="Description"></div>*@
<div class="field" data-fieldtype="SaveButton"></div>
