@Html.Partial( "~/Views/Help/_HelpCore.cshtml" )

<div class="mainHelpContent">

	<div class="section">
		<h3>Help: General Search</h3>
		<p>The general search provides a way to find, view, edit, and create individual objects in the database.</p>
		<p>Select the type of object you want to find with the drop-down list on the right, and use the keywords box to narrow the search to objects that contain that text.</p>
	</div>

</div>