@Html.Partial( "~/Views/Help/_HelpCore.cshtml" )

<div class="mainHelpContent">

	<div class="section">
		<h3>Help: Rating Master Task List Search</h3>
		<p>The RMTL Search enables you to search and filter for specific combinations of objects in the database, and generate RMTL Spreadsheets from that data.</p>
	</div>

	<div class="section">
		<h4>Generating an RMTL Spreadsheet</h4>
		<p class="withBelow">To generate the spreadsheet for an RMTL:</p>
		<ol>
			<li>Open the filters window using the <b>Search and Filter...</b> button.</li>
			<li>In the <b>Rating</b> filter, type the name or code of the Rating and select it in the list of options that appears.</li>
			<li>The system will begin searching. Once the search has completed, click outside of the filters window to dismiss it.</li>
			<li>Verify that the table below contains the information you want.</li>
			<li>Optionally, click the <b>Full Screen View</b> button to see the table's contents more easily.</li>
			<li>Optionally, click the <b>Export All Results</b> button to download the RMTL sheet as a CSV file.</li>
		</ol>
	</div>

</div>