@using Models.Schema;
@model RatingTask
@{
	ViewBag.Title = "Rating Task: " + Model.Description;
}

<h2>Rating Task</h2>

<p>@Model.CodedNotation</p>
<p>@Model.Description</p>
<p><a href="@Url.Content("~/" + Model.GetType().Name.ToLower() + "/edit/" + Model.Id)" target="_blank">Edit</a></p>