
@{
	ViewBag.Title = "Not Auththenticated";
}

<h2>Not Auththenticated</h2>
<p>The information contained in the portal is intended for use by authorized users.</p>
<p> Access to the portal requires a user to submit a request via email. <a href="@Url.Content( "~/Home/ContactUs" )">See the Contact Us </a> page.</p>
<p>Credential Engine reserves the right to grant access to the portal.</p>

