@using Models.Schema;
@using Models.DTO;
@using Models.Search;
@model ReferenceResource
@{
	ViewBag.Title = "Reference Resource: " + Model.Name;
	var referenceType = Factories.ConceptManager.GetMultiple( Model.ReferenceType );
}

@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper( Model )
{
	TypeLabel = "Reference Resource",
	Name = Model.Name,
	PropertyList = new List<NamedString>()
	{
		new NamedString( "Description", Model.Description ),
		new NamedString( "Date of Source", Model.PublicationDate ),
		new NamedString( "Reference Resource Type",  LinkHelper.GetDetailPageLinkList( Factories.ConceptManager.GetMultiple( Model.ReferenceType ), Url.Content, m => m.Name, "<ul><li>", "</li><li>", "</li></ul>" ) )
	}
} )

@Html.Partial( "~/Views/Shared/_RatingTaskCountBySourceTypeTable.cshtml", new List<SearchFilter>()
{
	new SearchFilter()
	{
		Name = "> RatingTaskId > RatingTask > ReferenceResourceId > ReferenceResource",
		ItemIds = new List<int>(){ Model.Id }
	}
} )

@Html.Partial( "~/Views/Search/_ItemListSearch.cshtml" )
<script type="text/javascript">
	var ItemListConfigs = {
		CommonFilters: [
			{ Name: "> RatingTaskId > RatingTask > ReferenceResourceId > ReferenceResource", ItemIds: [ @Model.Id ] }
		],
		Searches: {
			RatingTasks: {
				Header: "Rating Tasks",
				SearchType: "RatingContext",
				StyleType: "RatingTask",
				Fields: [
					{ Label: "Rating", RenderPath: ["HasRating|Rating", "CodedNotation|Rating"] },
					{ Label: "Description", RenderPath: ["HasRatingTask|RatingTask", "Description|RatingTask"] },
					{ Label: "Training Gap", RenderPath: ["TrainingGapType|Concept", "Name|Concept"] },
				]
			}
		}
	};
	//

	$(document).ready(function () {
		ItemListSearches.setupItemLists(ItemListConfigs);
	});
	//
</script>
<style type="text/css">
	table[data-styletype='RatingTask'] [data-column='Rating'] { width: 75px; }
	table[data-styletype='RatingTask'] [data-column='Training Gap'] { width: 100px; margin-left: auto; }
</style>

<item-list-search name="RatingTasks"></item-list-search>
