@using Models.Schema;
@using Models.DTO;
@model TrainingTask
@{
	ViewBag.Title = "Training Task: " + Model.Description;
	var courseUrl = "~/Course/Detail/" + Model.CourseCodedNotation;
	var courseTitle = "Course: " + Model.CourseCodedNotation;
	var course = Model.CourseId;
	var methods = Factories.ConceptSchemeManager.GetMultipleConcepts( Model.AssessmentMethodType );
}

@Html.Partial( "~/Views/Shared/_DetailShared.cshtml" )
@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper()
{
	TypeLabel = "Training Task",
	TypeURL = Model.GetType().Name.ToLower(),
	Id = Model.Id,
	CTID = Model.CTID,
	Name = "Training Task",
	Description = Model.Description,
	Identifiers = new List<NamedString>()
	{
		new NamedString( "System ID", Model.Id.ToString() ),
		new NamedString( "Course", "<a href=\"" + Url.Content( "~/Course/Detail/" + Model.CourseId ) + "\">" + Model.CourseName + "</a>" ),
		new NamedString( "Course CIN", Model.CourseCodedNotation ),
		new NamedString( "Assessment Methods", String.Join(", ", methods.Select( m => "<a href=\"" + Url.Content( "~/Concept/Detail/" + m.Id ) + "\">" + m.Name + "</a>" ).ToList()) ),
		new NamedString( "CTID", Model.CTID ),
		new NamedValue( "Last Updated ", Model.LastUpdated.ToString("yyyy-MM-dd hh:mm") )
	}
} )
