@using Models.Schema;
@using Newtonsoft.Json;
@using Models.DTO;
@model TrainingTask
@{
	var title = Model.Id > 0 ? "Editing Training Task" : "New Training Task";
	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="TextArea" data-property="Description" data-label="Description"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasReferenceResource" data-label="Task Source" data-searchtype="@nameof(ReferenceResource)"></div>
<div class="field" data-fieldtype="SaveButton"></div>
