@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotronX">
	<h1>Navy RCDC RRL</h1>
	<p class="lead">READY RELEVANT LEARNING (RRL) RATING & CAREER DOMAIN CONTINUUM (RCDC) DEVELOPMENT.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Under Construction</h2>
		<p>
			Under Construction
		</p>
  
    </div>

</div>