@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Navy RCDC RRL</h1>
    <p class="lead">TBD.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TBD.
        </p>
  
    </div>

</div>