@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center">
	<h1>Navy RCDC RRL</h1>
	<p class="lead">READY RELEVANT LEARNING (RRL) RATING & CAREER DOMAIN CONTINUUM (RCDC) DEVELOPMENT.</p>
</div>

<div class="row">
	<div class="col-md-12" style="text-align: center;">
		<p>The information contained in the portal is intended for use by authorized users.</p>
		<p> Access to the portal requires a user to submit a request via email. <a href="@Url.Content( "~/Home/ContactUs" )">See the Contact Us </a> page.</p>
		<p>Credential Engine reserves the right to grant access to the portal.</p>
	</div>

</div>